@import "tailwindcss";

/* ===== GLOBAL RESET ===== */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #100718;
  color: white;
  font-family: var(--font-sora), system-ui, sans-serif;
}

/* ===== FIX LINK COLOR ===== */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
